@import url('https://fonts.googleapis.com/css?family=Asap:500i');

.navbar {
    background:  hsl(197, 100%, 40%);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Asap', sans-serif;
}
.container {
    width: 60%;
    margin: 2rem auto; 
  }
.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(13, 5vw);
    grid-gap: 1.5rem; 
  }
  
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
  }
  
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  
    
  }
  
  .gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  
  .gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;

  }
  
  .gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
  
    
  }
  
  .gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
  }
  .gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;  
  }
  .gallery__item--7 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 9;
    grid-row-end: 11;  
  }
  .gallery__item--8 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 11;  
  }
  .gallery__item--9 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 14;  
  }
  .gallery__item--10 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 11;
    grid-row-end: 14;  
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
 
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
 
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
.search{
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background:paleturquoise;
    height: 25px;
    width: 100%;
    margin-bottom: 15px;
    color:rgba(3, 13, 26, 0.76);
    font-size: 15px;
}
.searchButton{
    border: none;
    outline: none;
    height: 20px;
    width:80px;
    background:  hsl(197, 100%, 40%);
    color: black;
    font-size: 15px;
    border-radius: 10px;
}
.box {
    background: black;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 3px 3px;
    border-radius: 7%;
}
.searchButton:hover {
    cursor: pointer;
    background:gold;
    color: black;
   
    transition-timing-function: ease-in-out;
}
