<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <span class="strong" class="navbar-brand" style="color: black">WELCOME TO MySearchEngine</span>
      </div>
    </div>
  </nav>
  
  <mat-card>
    <div class="box">
      <input type="text" class="search"  [(ngModel)]="searchQuery" name="search">
      <br>
    <input (click)="searchImages(searchQuery)"  class="searchButton" type="button" value="Search">
    <input (click)="researchImages()" class="searchButton" type="button" value="History">
    </div>
  </mat-card>

  
    <div *ngIf="imagesFound">
      <h3>Results</h3>
     <div class="container">
        <div class="gallery"  >
          <figure class="gallery__item gallery__item--1">
            <a href="{{ images[0].pageURL }}" target="_bank">
            <img src="{{images[0].webformatURL}}" class="gallery__img">
            </a>
        </figure>
        <figure class="gallery__item gallery__item--2">
          <a href="{{ images[1].pageURL }}" target="_bank">
          <img src="{{images[1].webformatURL}}" class="gallery__img">
          </a>
      </figure>
      <figure class="gallery__item gallery__item--3">
        <a href="{{ images[2].pageURL }}" target="_bank">
        <img src="{{images[2].webformatURL}}" class="gallery__img">
        </a>
    </figure>
    <figure class="gallery__item gallery__item--4">
      <a href="{{ images[3].pageURL }}" target="_bank">
      <img src="{{images[3].webformatURL}}" class="gallery__img">
      </a>
  </figure>
  <figure class="gallery__item gallery__item--5">
    <a href="{{ images[4].pageURL }}" target="_bank">
    <img src="{{images[4].webformatURL}}" class="gallery__img">
    </a>
</figure>
<figure class="gallery__item gallery__item--6">
  <a href="{{ images[5].pageURL }}" target="_bank">
  <img src="{{images[5].webformatURL}}" class="gallery__img">
  </a>
</figure>
<figure class="gallery__item gallery__item--7">
  <a href="{{ images[6].pageURL }}" target="_bank">
  <img src="{{images[6].webformatURL}}" class="gallery__img">
  </a>
</figure>
<figure class="gallery__item gallery__item--8">
  <a href="{{ images[7].pageURL }}" target="_bank">
<img src="{{images[7].webformatURL}}" class="gallery__img">
</a>
</figure>
<figure class="gallery__item gallery__item--9">
  <a href="{{ images[8].pageURL }}" target="_bank">
  <img src="{{images[8].webformatURL}}" class="gallery__img">
  </a>
</figure>
<figure class="gallery__item gallery__item--10">
  <a href="{{ images[9].pageURL }}" target="_bank">
<img src="{{images[9].webformatURL}}" class="gallery__img">
</a>
</figure>
         </div>
        </div>
    </div>
    <div *ngIf="research">
      <h3>History</h3>
      <div class="row">
        <div class="column" *ngFor="let k of list ">
            <img  src="{{ k }}" si >
        </div>
    </div>
    </div>
</body>
